.close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  background-color: #6e48aa;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 9999;
  width: 50px;
}
