.myPage-contain {
    width: 50%;
    height: 90%;
    margin-top: 30px;
    margin-left: 100px;
}

.myPage-banner {
    background-color: #333b3d;
    width: 100%;
    height: 100px;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 3px;
    padding: 20px;
}

.myPage-content {
    border: 1px solid #ccc;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myPage-content p {
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 0.9rem;
    color: #adb5bd;
}

.profile-img {
    display: flex;
    flex-direction: row;
}

.myPage-profile-img-contain {
    width: 100%;
    flex: 0.3;
    display: flex;
    flex-direction: column;
}

.myPage-profile-img-contain>h1 {
    margin-bottom: 12px;
}

.myPage-profile-img-contain>p {
    margin-bottom: 20px;
}

.myPage-bottom {
    width: 100%;
    flex: 0.7;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.myPage-bottom>input {
    background: #f6f6f6;
    color: #5f5f5f;
    padding: 10px;
    margin-bottom: 30px;

}

.myPage-bottom>textarea {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    height: 100%;
    margin-top: 10px;
    padding: 10px;
}

.myPage-content>button {
    width: 100%;
    max-width: 280px;
    background: #2fc97a;
    height: 50px;
    font-weight: 800;
    margin-top: 32px;
    color: white;
}

.profile-change {
    width: 55px;
    height: 40px;
    background-color: #495057;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

#file {
    display: none;
    width: 300px;
}

#preview-img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 50%;
}

.my-study-info {
    height: 300px;
    border: 1px solid #d1d1d1;
    margin-top: 24px;
    padding: 24px;
}

.my-study-info>div>button {
    background-color: unset;
    padding-left: 6px;
    padding-right: 6px;
}

.my-study-list {
    margin-top: 24px;
    min-height: 165px;
    display: flex;
    flex-direction: row;
}

.my-commnet-info {
    height: 300px;
    border: 1px solid #d1d1d1;
    margin-top: 24px;
    padding: 24px;
}

#myPage-content-contain {
    display: flex;
    margin-right: 12px;
    flex-direction: column;
    width: 230px;
    border: 1px solid black;
    border-radius: 12px;
    height: 170px;
    justify-content: center;
    align-items: center;

}

/* 모집상태*/
#myPage-content-top {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex: 1;
    padding-top: 6px;
    padding-left: 3px;
    background-color: #2fc97a;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#myPage-content-top span {
    margin-left: 3px;
    margin-right: 6px;
    background-color: #2fc97a;
    border-radius: 12px;
    padding: 6px;
    font-size: 0.8rem;
    color: white;
}

/* 게시글 */
#myPage-content-middle {
    flex: 2;
    width: 100%;
    padding: 6px;
}

.studyDetail-content p {
    line-height: 2.2;
}

/* 좋아요 */
#myPage-content-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 6px;
    align-items: center;
}